<!-- 
  @Author: Md Nazmus Shakib
  @Date:   2021-08-30 20:44:25
  @Last Modified by:   Md Nazmus Shakib
  @Last Modified time: 2021-09-02 08:23:02
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue JS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="container mt-4">
                <h2>Simple Vue Calculator</h2>
    
                <div class="card">
                    <div class="body">
                        <div class="alert alert-danger" v-if="hasError">
                            {{ error }}
                        </div>
                        <div class="alert alert-success" v-else>
                            Result = {{ resultText }}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" @keyup="checkError" class="form-control" v-model="first_num">
                            </div>
                            <div class="col-md-6">
                                <input type="text" @keyup="checkError" class="form-control" v-model="second_num">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block" @click="plusButton" type="button">+</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block" @click="minusButton" type="button">-</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block" @click="multiplicationButton" type="button">*</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block" @click="divisionButton" type="button">/</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="js/vue.js"></script>

        
        <script type="text/javascript">
            var app = new Vue({
                el: "#app",
                data : {
                    first_num: "",      
                    second_num: "",      
                    error: "",
                    resultText: ""      
            },
            
            methods: {

                plusButton(){

                    
                    var first = Number(this.first_num)
                    var second = Number(this.second_num)
                    var result = first + second;
                    this.resultText = result;
                },
                minusButton(){

                    
                    var first = Number(this.first_num)
                    var second = Number(this.second_num)
                    var result = first-second;
                    this.resultText = result;
                },
                multiplicationButton(){

                    
                    var first = Number(this.first_num)
                    var second = Number(this.second_num)
                    var result = first * second;
                    this.resultText = result;
                },
                divisionButton(){

                    
                    var first = Number(this.first_num)
                    var second = Number(this.second_num)
                    var result = first / second;
                    this.resultText = result;
                },

                checkError(){
                    if(isNaN(this.first_num)){
                        this.hasError = true
                        this.error = "Please enter a valid number"
                    }
                    else if(isNaN(this.second_num)){
                        this.hasError = true
                        this.error = "Please enter a valid number"
                    }else{
                        this.hasError = false
                        this.error = ""
                    }
                }
                
                
            }},)
        </script>
    </body>
</html>