<!-- 
  @Author: Md Nazmus Shakib
  @Date:   2021-08-30 20:44:25
  @Last Modified by:   Md Nazmus Shakib
  @Last Modified time: 2021-09-02 09:30:34
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue JS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="container mt-4">
                <h2>My Notes</h2>
                <div class="card card-body" v-if="errorText.length>0">
                    <div class="alert alert-danger">
                        {{ errorText }}
                    </div>
                    
                </div>
                <div class="card card-body" v-if="successText.length>0">
                    <div class="alert alert-success">
                        {{ successText }}
                    </div>
                    
                </div>
                <div class="card card-body m-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Note Title - {{ title }}</p>
                            <input type="text" v-model="title" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <p>Note Description -{{ description }}</p>
                            <textarea  v-model="description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success" @Click="addNote">Add Note</button>
                        </div>
                    </div>
                </div>
                <div class="card card-body mt-3 p-3" v-for="(note, index) in notes">
                    <p>
                        <button @click="deleteNote(index)" class="btn btn-danger mb-2">X</button>
                    </p>
                    <h3>{{ note.title }}</h3>
                    <div>
                        {{ note.description }}
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="js/vue.js"></script>

        
        <script type="text/javascript">
            var app = new Vue({
                el: "#app",
                data : {
                    title: "",      
                    description: '',
                    notes: [],
                    errorText:"",
                    successText:""
            },
            
            mounted() {
               this.notes.push(
                   {
                    'title': 'First Note',
                    'description': 'First Note Description'
                   },
                   {
                    'title': 'Second Note',
                    'description': 'Second Note Description'
                   },
               )
            },
            methods: {
                addNote(){
                    let title = this.title;
                    let description = this.description;
                    
                    if(title.length > 0 && description.length > 0){
                        let singleNote = {
                            'title': title,
                            'description': description
                        }
                        this.notes.push(singleNote);
                        this.title = "";
                        this.description = "";
                        this.successText = "New Note Added";
                        this.errorText = "";
                    }else{
                        this.successText = "";
                        this.errorText = "Please fill the field";
                        return;
                    }
                },
                deleteNote(noteIndex){
                    this.notes.splice(noteIndex,1);
                    this.successText = "Note deleted";
                    this.errorText = "";
                    
                }
            },
                
            },)
        </script>
    </body>
</html>